*.o
*.a
*.lo
*.la
*.orig
*.gc??
*~
.*
!.gitignore
core
core.*
ChangeLog
INSTALL
Makefile
Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache
/compile
/config.guess
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/mimesis-*.tar.gz
/missing
/test-driver
